<html>
<head>
    <title>TOP</title>
</head>
<body>
    <div>
        <a href="/user/logout"><button type="button" >ログアウト</button></a>
    </div>
<div>
    <div>
      <p>
            {% if user and not user.is_anonymous %}
                Hello {{ name }}!
                {% for tweet in tweets %}
                  <p><b>自分のツイート</b>：{{ tweet }}</p>
                {% endfor %}
            {% else %}
                ログインして下さい.
            {% endif %}
        </p>
    </div>
</div>
</body>
</html>
