<html>
<head>
    <title>TOP</title>
</head>
<body>
    <div>
        <a href="/user/logout"><button type="button" >ログアウト</button></a>
    </div>
<div>
    <div>
      <p>
            {% if user and not user.is_anonymous %}
                Hello {{ name }}!
                {% for tweet in tweets %}
                  <p><b>自分のツイート</b>：{{ tweet }}</p>
                {% endfor %}
            {% else %}
                ログインして下さい.
            {% endif %}
        </p>
      <!--
      <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
        <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
        <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
        <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
        <p><b>AuthTime</b>:{{ user.extra_data.auth_time }}</p>
      -->



    </div>
</div>
</body>
</html>
